<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>classes.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertiesServlet</servlet-name>
        <servlet-class>classes.servlets.PropertiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>classes.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouritesServlet</servlet-name>
        <servlet-class>classes.servlets.FavouritesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>classes.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentServlet</servlet-name>
        <servlet-class>classes.servlets.AgentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorsServlet</servlet-name>
        <servlet-class>classes.servlets.VendorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPropertyServlet</servlet-name>
        <servlet-class>classes.servlets.EditPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePropertyServlet</servlet-name>
        <servlet-class>classes.servlets.UpdatePropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropertyServlet</servlet-name>
        <servlet-class>classes.servlets.AddPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>classes.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>classes.servlets.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertiesServlet</servlet-name>
        <url-pattern>/PropertiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouritesServlet</servlet-name>
        <url-pattern>/FavouritesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentServlet</servlet-name>
        <url-pattern>/AgentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorsServlet</servlet-name>
        <url-pattern>/VendorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPropertyServlet</servlet-name>
        <url-pattern>/EditPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePropertyServlet</servlet-name>
        <url-pattern>/UpdatePropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropertyServlet</servlet-name>
        <url-pattern>/AddPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
